form {
    width: 70%;
}

form input {
    width: 100%;
    padding: 1em 0.5em;
    margin: 1em 0;
    border: 1px solid #ccc;
    border-radius: '4px';
    background-color: '#fff';
    font-size: 16px;
    color: #333;
}

.container {
    max-width: 100%;
    padding: 0 8em;
}

.small-container {
    max-width: 100%;
    padding: 0 2em;
}
@media (min-width: 375px) and (max-width: 768px) {
    .container {
        padding: 0 2em;
    }
    form {
        width: 100%;
    }
}

label {
    font-size: 18px;
    color: #4d4d4d;
}

button {
    background-color: #20c0e8;
    border-radius: 5px;
    border: transparent;
    padding: 1em 1em;
    font-weight: bold;
    color: #fff;
}

.content {
    background-color: #fff;
    padding: 3em 1.5em;
}

form h1 {
    margin-bottom: 0.5em;
}



.d-flex {
    display: flex;
}

.sm-nav-container {
    padding: 1em 2em;
}

.event-ticketing {
    display: flex;
    align-items: center;
    gap: 2em;
}